doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="format-detaction", content="telephone=no, address=no, email=no")
        meta(name="referrer" content="strict-origin")

        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="#ffffff")
        meta(name="mobile-web-app-capable" content="yes")
        meta(name="theme-color" content="#ffffff")

        title Crypto Manage
        link(rel="stylesheet", href="/css/main.css")

        script(scossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?flags=gated&rum=true" async defer)

        block javascript
            script(src="/js/app.js" defer)

    body

        include layout/header

        main
            block main
