article.view {
    .investment-info {
        width: 100%;

        ul {

            li {
                .title {
                    span {
                        font-size: .8rem;
                        opacity: .5;
                    }
                }
            }
        }
    }
}