extends ../../_template

block main
    section.member
        article.view
            .investment-info
                ul
                    .head
                        figure(onClick="window.history.back()")
                            img(src="https://icongr.am/feather/arrow-left.svg?size=28&color=595959", alt="")
                        .label 회원 정보
                        .delete
                            img(src="https://icongr.am/feather/trash-2.svg?size=24&color=e77f67", alt="삭제")
                        .edit
                            a(href="./register.html")
                                img(src="https://icongr.am/feather/edit.svg?size=24&color=778beb", alt="수정")
                    li
                        .title 이름
                        .value 임승범
                    li
                        .title 회원형태
                        .value 일반
                    li
                        .title 회원그룹
                        .value 김동범
                    li
                        .title 휴대폰번호
                        .value 010-8008-8095
                    li
                        .title 계좌정보
                        .value 농협
                            span 12341234123412341324
                    li
                        .title 비고
                        .value 동해물과 백두산이 말르고 닳도록 하느님이 보우하사 우리날라 만세
                    li
                        .title 가입일
                        .value 2019-00-00