main {
    position: relative;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;

    @include media(laptop) {
        & {
            flex: 1;
            padding-bottom: 0;
        }
    }

}