article.members {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

    .head,
    .body {
        ul {
            display: flex;
            justify-content: space-around;
            text-align: center;
            padding: 1rem 0;

            @include media(tablet) {
                margin: 1rem 0;
            }

            // li:first-child {
            //     flex: 1;
            //     display: none;
            // }

            li:nth-child(1) {
                flex: 2;
            }

            li:nth-child(2) {
                flex: 2;
            }

            li:nth-child(3) {
                flex: 2;
            }

            li:last-child {
                flex: 2;
            }

            // @include media(tablet) {
            //     & {
            //         li:first-child {
            //             display: block;
            //         }
            //     }
            // }
        }
    }

    .head {
        font-weight: 700;
    }

    .body {
        ul {
            border: 1px solid rgba(0, 0, 0, 0);
            border-radius: 5px;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
                border: 1px solid rgba(0, 0, 0, 0.1);
            }
        }
    }
}