header
    nav
        // li Tag 안에 있는 a Tag 삭제
        ul
            li.on
                a(href="/html/index.html")
                    | 검색
            li
                | 회원관리
            li
                a(href="/html/pages/invest/invest.html")
                    | 투자관리
            li
                | 설정