header
    nav
        // li Tag 안에 있는 a Tag 삭제
        ul
            li.on
                a(href="/index.html")
                    | 검색
            li
                a(href="/html/member/member.html")
                    | 회원관리
            li
                a(href="/html/invest/invest.html")
                    | 투자관리
            li
                a(href="/html/config/config.html")
                    | 설정