extends ../../_template

block main
    section.config
        article.begin
            form.filter(method="" action="")
                //- .search
                //-     select
                //-         option(disabled selected) ì„ íƒ
                //-         -   var filter = ['ì´ë¦„', 'íšŒì›ê·¸ë£¹', 'íœ´ëŒ€í°ë²ˆí˜¸']
                //-         each f in filter
                //-             option= f
                //-     input(type="text").mobile
                //-     input(type="text").pc
                //-     button(type="submit") ê²€ìƒ‰
                button(type="button")
                    a(href="./register.html") í† í° ë“±ë¡
            .list
                .head
                    ul
                        - let head = ['ë²ˆí˜¸', 'í† í°ëª…', 'ì´íˆ¬ìê¸ˆì•¡', 'ìˆ˜ë ¹í† í°(1ETH)', 'í”„ë¡œì íŠ¸ì§„í–‰', 'ì§„í–‰ìƒí™©']
                        each h in head
                            li= h
                .body
                    // a Tag ì‚­ì œ
                    a(href="./view.html")
                        ul
                            li 1
                            li.name AMBROSUS
                                span (ì•°ë¸Œë¡œì„œìŠ¤)
                            li 5,293.87
                            li 1,300 AMB
                            li 2017-09
                            li ë§ˆê° 
                    //- - for (let i = 2; i <= 15; i++)
                    //-     ul
                    //-         li= i
                    //-         - let body = ['TELEGRAM (í…”ë ˆê·¸ë¨)', '9999.99', '9,999 TON', '2017-09', 'ë§ˆê°']
                    //-         each b in body
                    //-             li= b
                .footer
                    ul
                        li
                            a(href="#") Prev
                        li.page.active
                            a(href="#") 1
                        - for (let i = 2; i <= 5; i++)
                            li.page
                                a(href="#")= i
                        li
                            a(href="#") Next