article.begin {

    margin-top: 2rem;

    form.filter {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .search {
            display: flex;
            // flex-wrap: wrap;


            @include media(mobile-only) {
                & {
                    width: 100%;
                }
            }

            select {
                @include customSelect;
                margin-right: .5rem;

                @include media(tablet) {
                    & {
                        margin: 0;
                    }
                }
            }

            input {
                @include customInput;
            }

            input.mobile {
                width: 100%;
                padding-right: 2.5rem;

                @include media(tablet) {
                    & {
                        display: none;
                    }
                }

                background-image: url('https://icongr.am/feather/search.svg?size=24&color=cccccc');
                background-repeat: no-repeat;
                background-position: 95% 50%;
            }

            input.pc {
                margin: 0 .5rem;
                display: none;
                cursor: initial;

                @include media(tablet) {
                    & {
                        display: block;
                    }
                }
            }

            button[type="submit"] {
                @include customButton(#95afc0, #fff);
                border: 1px solid rgba(0, 0, 0, 0);
                padding: .5rem 3rem;
                display: none;

                @include media(tablet) {
                    & {
                        display: block;
                    }
                }
            }
        }


        button[type="button"] {
            @include customButton(#fff, rgba(0, 0, 0, .74));
            padding: .5rem 3rem;

            @include media(mobile-only) {
                & {
                    margin-top: .5rem;
                    width: 100%;
                }
            }
        }
    }

    .list {
        padding: 1rem 0;

        .head,
        .body {
            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                background-color: #4b6584;
                color: #f2f2f2;
                border-radius: .5rem .5rem 0 0;

                li {
                    text-align: center;
                    padding: .5rem 0;
                }

                li:first-child {
                    display: none;
                }

                @include media(mobile-only) {
                    & {
                        li:nth-child(2) {
                            width: 20%;
                            order: 1;
                        }

                        li:nth-child(3) {
                            width: 20%;
                            order: 2;
                        }

                        li:nth-child(4) {
                            width: 20%;
                            order: 3;
                        }

                        li:nth-child(5) {
                            width: 40%;
                            order: 4;
                        }

                        li:nth-child(6) {
                            width: 60%;
                            order: 5;
                        }

                        li:last-child {
                            width: 40%;
                            order: 6;
                        }
                    }
                }

                @include media(tablet) {
                    & {
                        li {
                            padding: 1rem 0;
                            flex: 1;
                        }

                        li:first-child,
                        li:nth-child(2) {
                            display: block;
                        }

                        li:nth-child(2),
                        li:nth-child(3),
                        li:nth-child(4) {
                            flex: 2;
                        }

                        li:nth-child(5) {
                            flex: 4;
                        }

                        li:nth-child(6) {
                            flex: 5;
                        }

                        li:last-child {
                            flex: 3;
                        }
                    }
                }

                @include media(desktop) {
                    & {
                        li {
                            padding: 1rem 0;
                        }

                        li:first-child {
                            display: block;
                            flex: 1;
                        }

                        li:nth-child(2) {
                            display: block;
                            flex: 2;
                        }

                        li:nth-child(3) {
                            flex: 2;
                        }

                        li:nth-child(4) {
                            flex: 2;
                        }

                        li:nth-child(5) {
                            flex: 3;
                        }

                        li:nth-child(6) {
                            flex: 5;
                        }

                        li:last-child {
                            flex: 3;
                        }
                    }
                }
            }
        }

        .body {
            ul {
                background-color: #fff;
                border-radius: initial;
                color: rgba(0, 0, 0, .74);
                border-bottom: 1px solid rgba(0, 0, 0, .1);
                cursor: pointer;
                transition: .5s;

                &:hover {
                    color: rgba(0, 0, 0, .64);
                    font-weight: 500;
                    transform: translateY(-1px);
                    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .1);
                }

                // input[type="checkbox"] {
                //     @include customCheckbox();
                // }
            }

            // .empty--data--box {
            //     padding: 10rem 0;
            //     @include flexCentered;
            // }
        }

        .footer {
            ul {
                display: flex;
                background-color: #4b6584;
                justify-content: center;
                padding: .57rem 0;
                border-radius: 0 0 .5rem .5rem;

                li {
                    padding: .5rem;
                    cursor: pointer;
                    border-radius: .25rem;

                    &.active {
                        background-color: #f2f2f2;
                    }

                    &:hover {
                        animation: pagehover .7s alternate infinite;

                        @keyframes pagehover {
                            from {
                                background-color: rgba(255, 255, 255, .1);
                            }

                            to {
                                background-color: rgba(255, 255, 255, .3);
                            }
                        }
                    }

                    a {
                        color: #f2f2f2;
                    }

                    &.active>a {
                        color: #4b6584;
                    }
                }
            }
        }
    }
}