article.view {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .investment-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;

        ul {
            display: inline-block;
            width: 100%;
            max-width: 500px;
            margin-bottom: 2rem;
            padding: .7rem 0;
            // border: 1px solid rgba(0, 0, 0, .05);
            border-radius: 10px;
            line-height: 1.5;
            overflow: hidden;
            transition: .5s;

            &:hover {
                box-shadow: 1px 1px 18px 0 rgba(0, 0, 0, .1);
            }

            .head {
                position: relative;
                display: flex;
                background-color: #f5f6fa;
                padding: 1rem;
                margin-top: -.7rem;

                figure {
                    @include centeredY();
                    left: 0.5rem;
                    opacity: 0.7;
                    cursor: pointer;

                    @include media(tablet) {
                        & {
                            left: 1rem;
                        }
                    }

                    img {
                        display: block;
                    }
                }

                .label {
                    flex: 1;
                    text-align: center;
                    color: #718093;
                    font-weight: 500;
                }

                .delete,
                .edit {
                    position: absolute;

                    img {
                        opacity: .3;
                        transition: .3s;

                        &:hover {
                            opacity: .7;
                            cursor: pointer;
                        }
                    }
                }

                .delete {
                    right: 4rem;
                }

                .edit {
                    right: 1.5rem;
                }
            }

            li {
                display: flex;
                padding: .6rem 0;

                .title {
                    flex: 1;
                    @include flexCentered;
                    padding: 0 1rem 0 0;
                    font-weight: 700;
                }

                .value {
                    flex: 2;
                    position: relative;

                    span {
                        padding-left: .4rem;
                    }

                    p {
                        display: inline-block;
                    }

                    em {
                        font-weight: 700;
                        padding: 0 .35rem;
                    }

                    mark {
                        @include centeredY;
                        right: 8px;
                        background-color: rgba(255, 255, 255, 0);
                        color: rgba(0, 0, 0, .3);
                        font-size: .9rem;
                        font-weight: 500;
                        cursor: pointer;
                        transition: .4s;

                        &:hover {
                            color: rgba(0, 0, 0, .7);
                        }
                    }
                }
            }
        }
    }
}